
.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243,242,242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser{
    height: 40px;
    background-color: rgb(243,242,242);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: sticky;
    z-index: 2;
    padding-left:7px;
    padding-right: 7px;
}
.p-dots{
    display:flex;
}

.p-circle{
    width: 6px;
    height: 6px;
    /* background-color: white; */
    border-radius: 50%;
    margin: 3px;
}

.p-circle.red{
    background-color: red;
}

.p-circle.yellow{
    background-color: goldenrod;
}

.p-circle.green{
    background-color: green;
}
.p-title{
    color:#F9004D;
    padding:2px;
    align-items: right !important;
    
}

.p-img{
    width: 100%;
    transition: all 10s ease-in;
}

.p:hover .p-img{
    transform: translateY(-100%);
}

@media only screen and (max-width: 1022px) {
    .p{
        width: 45%;
        height: 30vh;

    }
    .p-title{
        font-size: 14px;
    }
    
}
@media only screen and (max-width: 914px) {
    .p{
        width: 45%;
        height: 27vh;

    }
    .p-title{
        font-size: 14px;
    }
    
}
@media only screen and (max-width: 567px){
    .p{
        width: 45%;
        height: 30vh;

    }
    .p-title{
        font-size: 14px;
    }
    
}
@media only screen and (max-width: 600px) and (min-width: 573px) {
    .p {
        width: 40%;
        height: 23vh;
      }
}
@media screen and (max-width: 480px) {
    .p {
      width: 40%;
      height: 20vh;
    }
  }
  @media only screen and (max-width: 334px){
    .p{
        width: 100%;
        height: 30vh;

    }
    .p-title{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 261px){
    .p{
        width: 100%;
        height: 30vh;

    }
    .p-title{
        font-size: 14px;
    }
  }
