.about{
    background: #191919;
}

img.about_img{
    border-radius: 10px;
    width: 100%;
}

h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Monserrat,sans-serif;
    font-size: 60px;
}

button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: 0.4s ease;
}

.about__button{
    padding: 20px 0px;
}

/* .up__to__top__btn{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #f9004D;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    z-index: 1000;
} */

@media only screen and (max-width: 1024px) {
    .p__color{
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 1022px) {
    .about__button{
        padding: 20px 0px;
        display: flex;
    }
}
@media only screen and (max-width: 567px){
    h1.about__heading{
        margin-bottom: 7px;
        margin-top: 3px;
        font-weight: 700;
        font-size: 55px;
        text-align: center;
    }
    button.about.btn.pointer{
        text-transform: capitalize;
        width: 185px;
        height: 50px;
        font-size: 17px;
        margin-top: 10px;
        transition: 0.4s ease;
    }
        
    
    
    .about__button{
        padding: 15px 0px;
        
      
    }
}

@media only screen and (max-width: 425px) {
    button.about.btn.pointer{
        text-transform: capitalize;
        width: 130px;
        height: 45px;
        font-size: 13px;
        transition: 0.4s ease;
    }
    .about__button{
        align-items: center;

    }
}

@media only screen and (max-width: 331px){
    h1.about__heading{
        margin-bottom: 7px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    
    }
    button.about.btn.pointer{
        text-transform: capitalize;
        width: 120px;
        height: 45px;
        font-size: 13px;
        margin-top: 10px;
        transition: 0.4s ease;
    }
        
    
    
    .about__button{
        padding: 13px 0px;
        
      
    }

}
@media only screen and (max-width: 313px){
    h1.about__heading{
        margin-bottom: 7px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    
    }
    button.about.btn.pointer{
        text-transform: capitalize;
        width: 100px;
        height: 45px;
        font-size: 10px;
        margin-top: 10px;
        transition: 0.4s ease;
    }
        
    
    
    .about__button{
        padding: 15px 0px;
        
      
    }

}

@media only screen and (max-width: 261px){
    h1.about__heading{
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 40px;
    }
    button.about.btn.pointer{
        text-transform: capitalize;
        width: 155px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
        transition: 0.4s ease;
    }
        
    
    
    .about__button{
        padding: 15px 0px;
      
    }

}

